.header {
	min-height: 80px;
	margin: 0;
	color: #333;
	padding: 1em;
	text-align: center;
	border-bottom: 1px solid #eee;
	background: #fff;
}
.header h1 {
	font-family: 'omnes-pro', sans-serif;
}
.header h2 {
	font-weight: 300;
	margin: 0;
	color: #ccc;
}
.content {
	margin: 50px auto;
	width: 85%;
}
.pure-form .pure-button-small {
	font-size: 85%;
}
table {
	margin: 0 auto;
	font-size: 85%;
}
